<div class="container-fluid">
    <div class="row main justify-content-center">
       
    
        <ul class="col-md-12 top-level-menu">
            
            <li *ngxPermissionsOnly="[]">
                <a 
                routerLinkActive="active" 
                > Nomenclatures
                </a> 
                <ul class="second-level-menu" >
                    <li *ngxPermissionsOnly="[]">
                        <a [routerLink]="['nomencl']"
                            > Gestion
                        </a>
                    </li>
                </ul>
                
            </li>
           
            <li *ngxPermissionsOnly="[]">
                <a 
                routerLinkActive="active" 
                > Gestion des regions
                </a> 
                <ul class="second-level-menu" >
                    <li>
                        <a [routerLink]="['/region/banque']" 
                        routerLinkActive="active"  
                            >Regions banques
                        </a>
                    </li> 
                    <li>
                        <a [routerLink]="['/region/unite']" 
                        routerLinkActive="active"  
                            > Regions unités
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/region/ressource']" 
                        routerLinkActive="active"  
                            > Ressources unité
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </div>
    </div>
    