<div class="row">
    <div class="col-md-12">
        <form name="findForm" #findForm="ngForm" style="height: 200px;width:1000px; background-color: whitesmoke;">
            <mat-form-field class="info">
                <mat-label>code</mat-label>
                <input matInput style="padding: 0;width: 200px" [(ngModel)]="info.code" name="code" required>
            </mat-form-field> &nbsp;
            <mat-form-field class="example-full-width" >
                <mat-label>codeCategorie</mat-label>
                <input type="text"
                       placeholder="CodeCategorie"
                       aria-label="Number"
                       matInput [(ngModel)]="info.codeCategorie" name="codeCategorie"
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
   
            &nbsp;
            <mat-form-field class="info">
                <mat-label>categorie</mat-label>
                <input matInput style="padding: 0;" [(ngModel)]="info.categorie" name="categorie" required>
            </mat-form-field>&nbsp;
            <mat-form-field class="info" style="width: 300px!important;">
                <mat-label>libelle</mat-label>
                <textarea matInput style="padding: 0; " [(ngModel)]="info.libelle" name="libelle" required></textarea>
            </mat-form-field>&nbsp;
            <div mat-dialog-actions>
                <button mat-button (click)="postEmployeeDetails(info)">Valider</button>
                <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </form>
    </div>
</div>