
<div class="row" style=" background-color: whitesmoke;">
    <mat-label style="text-align: center;padding-bottom: 10px;color:red">Êtes-vous sûr de vouloir supprimer cette Nomenclature?</mat-label>

    <div class="col-md-12">
            <form style="height: 200px;width:150px;">
                    <mat-dialog-actions >
                            <br> 
                            <button mat-button (click)="postDeletes(info)" >Supprimer</button>&nbsp;
                           <button mat-button (click)="onNoClick()" tabindex="-1" style="color: #ca2020">Cancel</button>
                
                        </mat-dialog-actions>
        </form>
    </div>
</div>

